*.iml
.gradle
/local.properties
/.idea/caches/lastCheckin.xml
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/assetWizardSettings.xml
/.idea/navEditor.xml
/.idea/vcs.xml
/.idea/deploymentTargetDropDown.xml
/build
/.externalNativeBuild
.cxx
local.properties
capture/
.DS_Store
.idea/
*.iws
*.ipr
out/
app/build/
.navigation/
captures/
.externalNativeBuild/
.cxx/
*.apk
*.ap_
*.dex
*.class
bin/
gen/
